body {
  margin: 0;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

form {
  position: absolute;
  left: 50%;
  top: 30%;
  max-width: 250px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wish {
  position: absolute;
  top: 10%;
  width: 100%;
  background-image: url("./images/brilli-brilli.gif");
  background-size: 20%;
  background-position: center;
  font-size: 72px;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.wish + form {
  display: none;
}

.good-luck-items > span {
  position: absolute;
}

.good-luck-items > span:nth-child(1) {
  left: 0%;
  animation: emojiRain1 5s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(2) {
  left: 50%;
  animation: emojiRain2 4s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(3) {
  left: 20%;
  animation: emojiRain3 6s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(4) {
  left: 85%;
  animation: emojiRain4 2s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(5) {
  left: 10%;
  animation: emojiRain1 3s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(6) {
  left: 90%;
  animation: emojiRain2 8s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(7) {
  left: 65%;
  animation: emojiRain3 10s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(8) {
  left: 95%;
  animation: emojiRain4 5s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(9) {
  left: 1%;
  animation: emojiRain1 10s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(10) {
  left: 30%;
  animation: emojiRain2 4s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(11) {
  left: 45%;
  animation: emojiRain3 2s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(12) {
  left: 70%;
  animation: emojiRain4 6s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(13) {
  left: 13%;
  animation: emojiRain1 15s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(14) {
  left: 7%;
  animation: emojiRain2 3s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(15) {
  left: 55%;
  animation: emojiRain3 7s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(16) {
  left: 80%;
  animation: emojiRain4 4s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(17) {
  left: 3%;
  animation: emojiRain5 5s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(18) {
  left: 58%;
  animation: emojiRain6 4s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(19) {
  left: 22%;
  animation: emojiRain7 6s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(20) {
  left: 89%;
  animation: emojiRain8 2s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(21) {
  left: 32%;
  animation: emojiRain5 3s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(22) {
  left: 96%;
  animation: emojiRain6 8s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(23) {
  left: 78%;
  animation: emojiRain7 10s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(24) {
  left: 97%;
  animation: emojiRain8 5s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(25) {
  left: 19%;
  animation: emojiRain5 10s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(26) {
  left: 35%;
  animation: emojiRain6 4s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(27) {
  left: 49%;
  animation: emojiRain7 2s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(28) {
  left: 75%;
  animation: emojiRain8 6s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(29) {
  left: 17%;
  animation: emojiRain5 15s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(30) {
  left: 87%;
  animation: emojiRain6 3s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(31) {
  left: 59%;
  animation: emojiRain7 7s infinite, fade 10s infinite;
}

.good-luck-items > span:nth-child(32) {
  left: 82%;
  animation: emojiRain8 4s infinite, fade 10s infinite;
}

.good-luck-text {
  display: none;
  text-align: center;
}

.✨ {
  display: none;
  position: absolute;
  left: 20px;
  bottom: 40px;
}

.wish + form + .good-luck-text {
  display: block;
}

.wish + form + .good-luck-text + .good-luck-items + .✨ {
  display: inline;
}

.🌊 {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@keyframes emojiRain1 {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

@keyframes emojiRain2 {
  from {
    top: 0%;
  }
  to {
    top: 80%;
  }
}

@keyframes emojiRain3 {
  from {
    top: -10%;
  }
  to {
    top: 90%;
  }
}

@keyframes emojiRain4 {
  from {
    top: 20%;
  }
  to {
    top: 120%;
  }
}

@keyframes emojiRain5 {
  from {
    top: 5%;
  }
  to {
    top: 105%;
  }
}

@keyframes emojiRain6 {
  from {
    top: -5%;
  }
  to {
    top: 70%;
  }
}

@keyframes emojiRain7 {
  from {
    top: 15%;
  }
  to {
    top: 100%;
  }
}

@keyframes emojiRain8 {
  from {
    top: 10%;
  }
  to {
    top: 110%;
  }
}

@keyframes fade {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.9;
  }
}
